.carousel-item {
    height: 35vh;
    min-height: 100px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(34,126,247,.07);
    background-color: rgba(34, 126, 247, 0.07);
    margin-bottom: 20px;
}
.secondary-bg {
    background-color: #56cc9d;
    color: #fff;
    font-size: 18px;
}            

h1 {
    font-size: 1.75rem;
}
/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2378C2AD' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2378C2AD' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
} */
.titulo {
    color: #eee;
    text-shadow: 1px 1px 3px black, 0 0 25px #78C2AD, 0 0 5px #888;
}